{% extends 'base.html.twig' %}

{% block title %}Cree Quiz{% endblock %}

{% block body %}
<div class="container">
    <form action="{{ path('quiz_verif') }}"  method="POST">
        <p>Regle pour cree un quiz:</p>
        <p>Minimum 5 questions</p>
        <p>Le champ №1 de chaques question sera la reponse correcte (les reponses seront afficher plus tard de mainiere aleatoire)</p>
        <p>Il doit toujour avoir 3 reponses pour une question</p>
        <div class="form-group">
            <label for="categorie-select">Choisisez une categorie:</label>
                <select name="categorie" id="pet-select" >
                    {% for categorie in categories %}
                        <option value="{{categorie.id}}">{{categorie.name}}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="form-group">
            <label for="name">Choisisez un nom pour votre quiz</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="image">Choisisez une image (sous forme url) pour votre quiz</label>
            <input type="text" class="form-control" id="image" name="image" required>
        </div>
        {% for i in 1..20 %}
        {% if i == 6 %}
        <p>Question minimale atteint vous pouvez l'envoyer maintenant si vous le souhaiter ou bien continuer</p>
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {% endif %}
        {% if i == 11 %}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {% endif %}
        {% if i == 16 %}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {% endif %}
        <div class="form-group" style="border: 1px dashed #000000; margin:1em; padding:1em;">
            {% if i <= 1 %}
                <label for="Question №{{i}}">Question №{{i}}</label>
                <input style=" box-shadow: 0 0 3px #301eda;" required type="text" placeholder="Question №{{i}}" class="form-control" id="Q{{i}}" name="Q{{i}}" >
                <div style="padding:1.5em;">
                {% for a in 1..3 %}
                    {% if a == 1 %}
                    <label for="Reponse №{{i}} for Question №{{i}}">Reponse №{{a}} pour la question №{{i}}</label>
                    <input style=" box-shadow: 0 0 3px #63cc00;"required type="text" placeholder="la reponse correct"  class="form-control" id="R{{a}} Q{{i}}" name="R{{a}} Q{{i}}" >
                    {% else %}
                    <label for="Reponse №{{i}} for Question №{{i}}">Reponse №{{a}} pour la question №{{i}}</label>
                    <input style=" box-shadow: 0 0 3px #cc2900;" required placeholder="reponse fausse" type="text" class="form-control" id="R{{a}} Q{{i}}" name="R{{a}} Q{{i}}">
                    {% endif %}
                {% endfor %}
                </div>
            {% else %}
                <label for="Question №{{i}}">Question №{{i}}</label>
                <input style=" box-shadow: 0 0 3px #301eda;" type="text" placeholder="Question №{{i}}" class="form-control" id="Q{{i}}" name="Q{{i}}">
                {% for a in 1..3 %}
                <div style="padding:1.5em;">
                    {% if a == 1 %}
                    <label for="Reponse №{{i}} for Question №{{i}}">Reponse №{{a}} pour la question №{{i}}</label>
                    <input style=" box-shadow: 0 0 3px #63cc00;" type="text" placeholder="la reponse correct"  class="form-control" id="R{{a}} Q{{i}}" name="R{{a}} Q{{i}}" >
                    {% else %}
                    <label for="Reponse №{{i}} for Question №{{i}}">Reponse №{{a}} pour la question №{{i}}</label>
                    <input style=" box-shadow: 0 0 3px #cc2900;" placeholder="reponse fausse" type="text" class="form-control" id="R{{a}} Q{{i}}" name="R{{a}} Q{{i}}">
                    {% endif %}
                </div>
                {% endfor %}

            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
{% endblock %}

